body {
    font-family: Arial, Helvetica, sans-serif;
}

.info_box {
}

.data_box {
}

.results_box {
}

.number_cell {
    text-align: right;
    height: 24px;
}

.text_cell {
    text-align: left;
    height: 24px;
}

.description {
    font-style: bold;
}
