body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
     background-image: url("diagram_sea.jpg");
     background-attachment: fixed;
}

.info_box {
}

.data_box {
}

.results_box {
}

.number_cell {
    text-align: right;
    height: 24px;
}

.text_cell {
    text-align: left;
    height: 24px;
}

.center {
    text-align: center;
}

.description {
    font-style: bold;
}

table {
    border-spacing: 10ps;
}